@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
}
.screenreader {
    position: absolute;
    top: -80px;
    left: 0;
    z-index: 100;
    color: #000000;
    font-size:1em;
    padding:1%;
    margin: 1%;
}
.screenreader:focus {
    top:0;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
}   
a {
	color: #1e2883;
	text-decoration: none;
}
a:hover, a:focus, #footer a:hover {
	color: #33dbcb;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #eaecfb;
  min-height: 100%;
}
#footer {
  background-color: #252831;
  color: #FFFFFF;
  border-top: 2px solid #5bace2;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer a {
  color: #FFFFFF;
}

/* ====================== Navigation ====================== */
nav {
  width: 98%;
  height: auto;
  padding: 1%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 7px 40px;
    background-color: #ffffff;
    border-bottom: 2px solid #d9d9d9;
    list-style: none;
    font-size: 18px;
    margin: 0;
    width: calc(100% - 80px);
    color: #1e2883;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    text-decoration: none;
    padding: 4px;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #252831;
    background-color: #33dbcb;
    padding: 4px;
}

/* ====================== Map ====================== */
#map {
  height: 300px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Map Color Contrast Update -Accessibility ====================== */
.leaflet-container .leaflet-control-attribution {
  background: rgba(255, 255, 255, 1);
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  padding: 1% 0;
  background-color: #252831; /*#1e2883*/
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.filter-options h2 {
  color: white;
  font-size: 1.25rem;
  letter-spacing: 0.2em;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options label {
  font-family: Arial,sans-serif;
  font-size: 1.25em;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #eaecfb;
  list-style: outside none none;
  margin: 0;
  padding: 30px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
/*  border: 2px solid #5bace2;*/
  font-family: Arial,sans-serif;
  margin: 15px;
  /*min-height: 380px;*/
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img { /*index.html restaurant image*/
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  /*min-height: 248px;*/
  min-width: 100%;
}
#restaurants-list li h2 {
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.3;
  background-color: #5b68e2;
  color: #fff;
  margin: 0;
  padding: 2%;
}
#restaurants-list p {
  margin: 2% 5% 0 5%;
  font-size: 1em;
}
#restaurants-list li a {
  background-color: #252831;
  color: #FFFFFF;
  display: inline-block;
  font-size: 10pt;
  padding: 8px 30px 10px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  margin-top:auto;
}
#restaurants-list li a:hover {
  background-color: #33dbcb;
  color: #252831;
}

/* ====================== Restaurant Details ====================== */
#restaurant-name {
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  background-color: #5b68e2;
  color: #fff;
  margin: 0;
  padding: 1% 2%;
}
#restaurant-img {
	width: 100%;
  height: 250px;
  height: auto;
  max-width: 100%;
  display: block;
}
#restaurant-address {
  font-size: 20pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #252831;
  color: #ffffff;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
.restaurant-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  width: 100%;
}
#restaurant-container {
  border-right: 2px solid #d9d9d9;
  padding: 1% 3.5% 0 0;
  margin: 0 0 0 3%;
  width: calc(42% - 2px);
  display: flex;
  flex-direction: column;
}
#reviews-container {
  padding: 0px;
  margin: 0 3.5%;
  width: 43%;
  display: flex;
  flex-direction: column;
}
#reviews-container h2 {
  color: #1e2883;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-top: 1%;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #5bace2;
  border-radius: 7px;
  display: block;
  list-style-type: none;
  margin-bottom: 20px;
  padding: 8px 15px ;
}
#reviews-list li p:first-child {
  font-weight: bold;
  font-size: 12pt;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #000000;
  font-size: 16px;
  border-bottom: 2px solid #d9d9d9;
}
#restaurant-hours td:first-child {
  font-weight: bold;
}

/* ====================== Media Queries ====================== */
/* Large View - commented out to meet project requirements
@media only screen and (min-width: 1300px) {
    index.html
    body {
        width: 1300px;
        margin: 0 auto;
    }

} /*
/* Middle View */
@media only screen and (min-width: 412px) and (max-width: 768px) {
    /* index.html */
    nav h1 a {
        font-size:1em;
    }
    .filter-options label {
      display: none;
    }
}
/* Middle View */
@media only screen and (min-width: 451px) and (max-width: 1000px) {
    /* restaurant.html */
    .restaurant-wrapper {
      display: block;
      width: 92%;
      padding: 4%;
    }
    #restaurant-container {
      border: none;
      flex-direction: row;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .medium-screen-wrapper {
      width: 50%;
      flex-direction: column;
    }
    .medium-screen-wrapper:first-child {
      margin-right: 5%;
    }
    #reviews-container {
      padding: 0;
      margin: 0;
      width: 100%;
      display: block;
    }
    #restaurant-img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
    #restaurant-address,
    #restaurant-hours td {
      font-size: 16px;
    }
}
/* Small View */
@media only screen and (max-width: 411px) {
    /* index.html */
    nav h1 a {
        font-size:.8em;
        letter-spacing: 3px;
    }
    .filter-options label {
      display: none;
    }
    .filter-options select {
      height: 40px;
      width: 45%;
      margin: 1.5%;
      padding: 0 1%;
      font-size:12px;
    }
    #restaurants-list {
      margin: 0;
      padding: 2%;
    }
    #restaurants-list li {
      width: 96%;
      margin: 2% 0;
    }
    #restaurants-list .restaurant-img {
      margin: 2%;
      width: 40%;
      max-width: 40%;
      min-width: 40%;
      float: left;
    }
}
/* Small View */
@media only screen and (max-width: 450px) {
    /* restaurant.html */
    .restaurant-wrapper {
      display: block;
      width: 92%;
      padding: 4%;
    }
    #restaurant-container {
      border: none;
      padding: 1% 3.5% 0 0;
      margin: 0;
      width: 100%;
      display: block;
    }
    #reviews-container {
      padding: 0;
      margin: 0;
      width: 100%;
      display: block;
    }
    #restaurant-img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
    #restaurant-address {
      font-size: 14pt;
      text-align: center;
    }
    #restaurant-hours{
      margin: 0 auto;
    }
    #restaurant-hours td {
      font-size: 18px;
    }
}